<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <title>Homepage</title>
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <% for(let i = 0; i < messages.length; i++) { %>
            <h1> <%= messages[i].user %> </h1>
            <h3 style="padding-left: 20px;"><%= messages[i].text %></h3>
            <p style="padding-left: 40px;">message sent in: <%= messages[i].added %></p>
        <% } %>
    </body>
</html>